---
layout: default_no_footer.hbs
subject: Confirmation - {Badge:43}{Badge:52}
---

<span class="preheader">
    <p>Congratulations! You are one step closer to becoming an NKBA Specialty
        Badge holder.</p>
</span>
<table class="header" align="center" width="100%" cellspacing="0"
    cellpadding="0" bgcolor="#FDFDFE" border="0">
    <tr>
        <td class="wrapper border-bottom" valign="middle">
            <a href="https://nkba.org"><img class="logo" border="0"
                    src="https://media.nkba.org/img/nkba-logo@2x.png" alt="NKBA"
                    height="30" width="141"></a>
        </td>
    </tr>
</table>
<table class="main" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="wrapper">
            <table width="100%">
                <tr>
                    <td class="content-block text-4 pt1" valign="top">

                        <p>Dear {name (First):7.3},</p>

                        <p>Congratulations! You are one step closer to becoming
                            an NKBA Specialty Badge holder.</p>

                        <p>Within the next week, you will receive a detailed
                            email with links to the NKBA Knowledge Base as well
                            as a customized study guide for your badge.</p>

                        <p>The Knowledge base is a great educational resource
                            that will aid in your professional growth within the
                            industry. As you prepare for the exam, use the study
                            guide to help identify specific areas you will be
                            tested on. </p>

                        <p>You have access to the Knowledge Base for one year.
                            You will receive an automated email when it’s time
                            to renew your Knowledge Base subscription. We hope
                            you enjoy this great new tool. </p>

                        <p>We are very excited that you have chosen to embark on
                            the journey towards earning an NKBA Specialty Badge!
                            A specialty badge informs colleagues, current and
                            prospective employers of a professional life of
                            active learning, engagement and ongoing development.
                        </p>

                        <p>If you have any questions, please email <a
                                href="mailto:info@nkba.org">info@nkba.org</a> or
                            call our member relations team at 1-800-THE-NKBA.
                        </p>

                        <p>Thank you,</p>

                        <p>The NKBA</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
