---
layout: default.hbs
subject: Welcome to the NKBA Knowledge Base! 
---
<span class="preheader">Put NKBA guidelines into practice in the field or quickly review on any mobile device. </span>
<table class="header" align="center"  width="100%" cellspacing="0" cellpadding="0" bgcolor="#FDFDFE"  border="0">
    <tr>
        <td class="wrapper border-bottom" valign="middle">
            <img class="logo" border="0" src="https://media.nkba.org/img/nkba-logo@2x.png" alt="NKBA" height="30" width="141">
        </td>
    </tr>
</table>
<table class="main" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="wrapper">
            <table width="100%">
                <tr>
                    <td class="content-block text-4 pt1 " valign="top">
                       <h2 class="bold">Access All You Need to Know About Kitchens and Baths With NKBA’s Professional Resource Library</h2>
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       Dear \{{name}},
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       Congratulations! You are now subscribed to the NKBA Knowledge Base—the kitchen and bath industry's professional digital resource for the latest content.
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                         As a valued subscriber, you can access all 9 volumes of the NKBA Professional Resource Library online anytime, anywhere. 
                    </td>
                </tr>
                <tr>
                    <td class="pb3 text-4" valign="top">   
                       {{> button type="primary" title="Access The Knowledge Base" url="https://wiki.nkba.org" align="left"}}
                    </td>
                </tr>       
               
                <tr>
                    <td class="content-block text-4" valign="top">
                        <strong>Questions?</strong><br>
                        Our Member Relations Team is here to support you. Please call 1-800-THE-NKBA (1-800-843-6522) or email <a href="mailto:info@nkba.org">info@nkba.org</a>.
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                      Thank you,<br>
                      The NKBA
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
