---
layout: default.hbs
subject: Admin access to  {{org.name}} 
---
<span class="preheader">Optimize your NKBA presence with an updated NKBA member profile, job postings and more.</span>
<table class="header" align="center"  width="100%" cellspacing="0" cellpadding="0" bgcolor="#FDFDFE"  border="0">
    <tr>
        <td class="wrapper border-bottom" valign="middle">
            <a href="\{{WEB_URL}}"><img class="logo" border="0" src="https://media.nkba.org/img/nkba-logo@2x.png" alt="NKBA" height="30" width="141"></a>
        </td>
    </tr>
</table>
<table class="main" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="wrapper">
            <table width="100%">
                <tr>
                    <td class="content-block text-4 pt1 " valign="top">
                        <h1  class="text-2 bold">
                           Welcome to the Big Leagues! </h1>
                    </td>
                </tr>       
                <tr>
                    <td class="py3 text-4" valign="top">
                        Dear \{{name}},
                    </td>
                </tr>  
                
                <tr>
                    <td class="content-block text-4" valign="top">
                        You’ve been given administrative access to \{{org.name}} within the NKBA. This gives you the ability manage your organization's profile, membership information, billing, employees and branches.
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                        <strong>Questions?</strong><br>
                        Our Member Relations Team is here to support you. Please call 1-800-THE-NKBA (1-800-843-6522) or email <a href="mailto:info@nkba.org">info@nkba.org</a>.
                    </td>
                </tr> 
                <tr>
                    <td class="content-block text-4" valign="top">
                      Thank you,<br>
                      The NKBA
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
