---
layout: default.hbs
subject: "NKBA BENEFITS: Your NKBA Membership includes a free profile page on NKBA.org, job board, market research, professional development and much more!"
---
<span class="preheader">Don’t miss the chance to accelerate business and generate leads with your FREE industry profile.</span>
<table class="header" align="center"  width="100%" cellspacing="0" cellpadding="0" bgcolor="#FDFDFE"  border="0">
    <tr>
        <td class="wrapper border-bottom" valign="middle">
            <img class="logo" border="0" src="https://media.nkba.org/img/nkba-logo@2x.png" alt="NKBA" height="30" width="141">
        </td>
    </tr>
</table>
<table class="main" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="wrapper">
            <table width="100%">
                <tr>
                    <td class="content-block text-4 pt1 " valign="top">
                       <h2 class="bold">Amplify Your Business, Grow Your Client Base With a FREE NKBA Member Profile Page!</h2>
                    </td>
                </tr>

                <tr>
                    <td class="content-block text-4" valign="top">
                       Dear \{{name}},
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       Welcome to the NKBA! As a valued member, we’re excited to offer you a free member profile page on the NKBA website. Getting started is easy: 
                       <ol>
                           <li><a href="\{{WEB_URL}}/reset/\{{token}}">Set a new password</a></li>
                           <li><strong>Complete</strong> your profile </li>
                           <li><strong>Share</strong>    it to showcase your work, connect with customers and generate leads.</li>
                       </ol>
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       NKBA member profiles are designed to produce the best possible search-engine results and help you take your business and your career to the next level.
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       <strong>Questions?</strong><br>
                       Our Member Relations Team is here to support you. Please call 1-800-THE-NKBA (1-800-843-6522) or send an email to <a href="mailto:info@nkba.org">info@nkba.org</a>. 
                    </td>
                </tr>
                 <tr>
                    <td class="content-block text-4" valign="top">
                      Sincerely,<br>
                      The NKBA
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
